---
---

@import "constants";
@import "bootstrap/bootstrap";

$line-color: $gray-500;

.resume-page {
  hr {
    margin: 1.5rem 0;
    border: solid 1px $gray-300;
  }

  // title
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  // section headers
  h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $gray-500;
  }

  // company names
  h3 {
    margin: 1.5rem 0 0.3rem;
    font-size: 1.4rem;
    font-weight: 400;

    span {
      font-size: 1rem;
      font-weight: normal;

      &.dates {
        float: right;
        font-weight: 300;
      }
    }
  }

  // role
  h4 {
    margin: 0.2em 0;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;

    .lang {
      color: #485ab5;
      text-transform: none;
    }

    .client {
      font-style: italic;
      text-transform: none;
    }
  }

  .projects {
    h3 {
      font-size: 1.2rem;
      margin: 1rem 0 0;
    }

    h4 {
      font-size: 1rem;
    }
  }

  .references {
    color: $gray-500;
  }

  .left-side {
    text-align: right;
    border-right: solid 3px $line-color;
    overflow-x: hidden;

    a {
      color: #4c8bf5;
    }

    li {
      display: block;
    }

    h2 {
      margin: 4rem 0 1rem;
      color: $gray-500;
      font-size: 1.1rem;
    }

    .contact-info {
      margin-top: 11em;

      .linked-in {
        font-size: 0.9em;
      }
    }
  }
}
