---
---

@import "constants";
@import "bootstrap/bootstrap";

$line-color: $gray-500;
$accent: darken($primary, 20);

.resume-page {
  padding: 3rem 0 4rem;

  a {
    color: $accent;
  }

  .summary {
    p {
      margin-bottom: 0.8rem;
    }
  }

  hr {
    margin: 1.5rem 0;
    border: solid 1px $line-color;
  }

  // title
  h1 {
    color: $accent;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;

    hr {
      margin-top: -18px;
      //border-color: $accent;
    }
  }

  h1, h2 {
    span {
      background-color: white;
      padding-right: 1rem;
    }
  }

  // section headers
  h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
    //margin: 0;
    color: $line-color;
    //border-top: solid 1px;
    //padding-top: -2px;
    margin: 2.6rem 0 2.1rem;
    //position: relative;

    hr {
      margin-top: -12px;
    }
  }

  // company names
  h3 {
    color: $accent;
    font-size: 1.3rem;
    margin: 1.7rem 0 0.4rem;
    font-weight: 400;

    span {
      font-size: 1rem;
      font-weight: normal;

      &.dates {
        float: right;
        font-weight: 300;
      }
    }
  }

  // role
  h4 {
    font-size: 1.15rem;
    margin: 0.3em 0;
    font-weight: 300;
    text-transform: uppercase;

    .lang {
      text-transform: none;
    }

    .client {
      font-style: italic;
      text-transform: none;
    }
  }

  .projects {
    h3 {
      font-size: 1.2rem;
      margin: 1rem 0 0;
    }

    h4 {
      font-size: 1rem;
    }
  }

  .references {
    color: $line-color;
  }

  .left-side {
    text-align: right;
    border-right: solid 3px $line-color;
    overflow-x: hidden;

    li {
      display: block;
    }

    h2 {
      margin: 3.2rem 0 1rem;
    }

    .contact-info {
      margin-top: 11em;
    }
  }
}

@media print {
  .resume-page {
    padding: 0;
  }
}
