---
layout:
---
body {
  padding-top: 50px;
}

.navbar-brand img {
  height: 50px;
  margin: -20px 0;
  background: color;
}

h1 span {
  font-size: 16px;
  font-weight: normal;
  text-shadow: none;
}

.home-page {
  // .jeremy-arms {
    // margin-top: 300px;
    // float: left;
    // width: 30%;
    /*bottom: 0;*/
    /*position:;*/
  // }
  .jumbotron {
    background-color: white;

    .row {
      // background-color: red;
      // position: relative;
      
      img {
        // position: absolute;
        // bottom: 0;
        margin-top: 20px;
      }
    }
    .first-column {
      // background-color: blue;
      // position: static;
      // height: 100%;
    }
  }

  .hero-wheel {
    position: relative;
    float: left;
    width: 70%;
  
    .quarter-wheel {
      position: absolute;
      /*background-color: purple;*/
      width: 30%;
      height: 28%;
      /*opacity: 0.5;*/

      &.top-left     { text-align: right; bottom: 52%; right: 44%;}
      &.top-right    { text-align: left;  bottom: 44%; left:  57%;}
      &.bottom-right { text-align: left;  top:    57%; left:  49%;}
      &.bottom-left  { text-align: right; top:    49%; right: 52%;}
    }

    h3 {
      margin: 0;
      font-size: 1.4em;
    }
  }

  h1 {
    margin-top: 15px;

    span.case-study {
      display: block;
      margin-bottom: -10px;
    }
  }

  .testimonials {
  }

  .odd-container {
  }

  .even-container {
    background-color: #eee;
  }
}

blockquote {
  margin-bottom: 30px;
  padding-left: 30px;
  background: url(/images/quote.png) no-repeat 0 0;
  border-left: 0;
}

h1 {
  text-shadow: 1px 1px 0 #101010;
  font-family: dejarip,arial,"helvetica neue",sans-serif;
}


.contact-container {
  background-color: #414141;
  color: white;
}

footer {
  background-color: #414141;
  padding: 10px 0 10px;
  margin-top: 20px;
  color: #ddd;
  text-align: center;

  .social-links {
  }

  .links {
    padding-top: 20px;
  }

  a {
    color: #ddd;
  }
}
