---
layout: homepage
page-class: home-page
partners:
- name: Jeff Patton 
  img: jeff_patton2.jpg
  text: Jeff is awesome
  links:
  - http://www.agileproductdesign.com
- name: Jim Benson
  img: jim_benson.jpg
  text: Jim is awesome
  links:
  - http://moduscooperandi.com
  - http://www.personalkanban.com
- name: Diana Larsen
  img: diana_larsen.jpg
  text: Diana is awesome
  links:
  - http://futureworksconsulting.com
- name: Adam Light
  img: adam_light.jpg
  text: Adam is awesome
  links:
  - http://www.sotechadvisors.com
- name: Joseph Steiner
  img: joe_steiner.jpg
  text: Joseph helps people with presentations and pitches.
  links: []
- name: Matt Smith
  img: matt_smith.jpg
  text: Matt is a brilliant theatre improv coach. I bring him in to help teams remember how to bring creativity, play, and "yes, and ..." thinking into their work.
  links:
  - http://matt-smith.net

testimonials:
- author: Bob Dvorak
  position: CEO Outpace Systems
  text: |
    Jeremy is one of the few technologists I know so gifted in managing/facilitating, programming and architecting that I think of him as that football player who could make the NFL Pro Bowl in offense, defense and special teams.  An incredibly rare and powerful combination.

- author: Michelle Muri
  position: Development Director on Reflective Sabbatical
  text: |
    Jeremy is truly gifted group catalyst. Because he is a seasoned coach, trainer and facilitator, Jeremy easily coached a team of volunteer (web) developers during dotORG weekend, where the non-profit I work for was a client. As a client, I appreciated Jeremy's ability to easily translate our needs to the team of developers while simultaneously walking us through a crucial project facilitation process all the way through the final push. Our final product was a newly designed website that was totally live by the deadline, thanks to Jeremy's ability to create a great working environment. Our volunteer web-development team had not known each other beforehand nor were they familiar the language in which our site was written, so it could have been a challenging situation. However, Jeremy's expertise guided us all, creating a fantastic result. Our project was done on-time and done well. 

    Thank you Jeremy
- author: Brian Jenkins
  position: Development Director on Reflective Sabbatical
  text: |
    He really is interested in how people work together. It's not just a job. He's deeply curious about how teams fit together. He is engaged with how groups of people function as a serious study, as an art. 

    I've seen Jeremy work under ridiculously frustrating conditions and he is consistently gentle, good humored, and constructive. He speaks and acts carefully and moves things in the right direction -- a small step when that's all that's possible, a big step when big changes are needed -- but always towards the team working better.

    Jeremy is not merely smart, he is wise and good to work with.
- author: Zee Spencer
  position: Software Practitioner, Educator
  text: |
    Jeremy is a talented facilitator and a great pair partner. He has a knack for asking the right question at the right time, and keeping a team focused on the most important work and conversations.



---
<!-- hero -->
<div class="odd-container">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="images/jeremy-brown-shirt.jpg" class="col-md-12"/>
        </div>
        <div class="col-md-8">
          <h1>If your software organization is stuck, I can help.</h1>

          <p>If you are struggling, I can help you stablize.
          <p>If you are good, I can show you what great looks like.
          <p>If you don't know where to start, I can give you some choices.

          <p><a class="btn btn-primary btn-lg" href="mailto:jeremy.lightsmith@gmail.com" role="button">Email Me Today</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="even-container">
</div>

<!-- <div class="even-container">
  <div class="container hero-bit">
    <img src="images/jeremy-brown-shirt.jpg" class="jeremy-arms" style="margin-top: 40px"/>

    <div class="hero-wheel">
      <img src="/images/hero_wheel.jpg"/>
      <div class="quarter-wheel top-left">
        <h3>Disrupt Yourself</h3>
        <p>Sure you're successful, but the market is innovating...</p>
      </div>

      <div class="quarter-wheel top-right">
        <h3>Execution!!!</h3>
        <p>You've gotten out of the building, you've talked the customers and you've pivoted your way to product-market fit. Now you've got 50 people instead of 5 and suddenly execution is your problem. What do you do?</p>
      </div>

      <div class="quarter-wheel bottom-right">
        <h3>Good -> Great</h3>
        <p>You have a motivated team of smart people. Let's build on that. What's your process like? Do you make it better every day?</p>
      </div>

      <div class="quarter-wheel bottom-left">
        <h3>Agile Transformation</h3>
        <p>If you are trying to bring agile / lean to 10 or 200 people, I can help.</p>
      </div>
    </div>
 -->
<!--     <p>I help teams unleash themselves. I might be able to help you if you are a...</p>

    <h4>Dev team that wants to create great products.</h4>

    <p><a href="motivated_teams">Read more...</a></p>

    <h4>Small or medium company that wants to introduce agile</h4>

    <p><a href="introducing_agile">Read more...</a></p>

    <h4>Enterprise that is struggling to become more agile</h4>

    <p><a href="agility_in_the_enterprise">Read more...</a></p>
 -->
  </div>
</div>

<!-- working with jeremy -->
<div class="even-container">
  <div class="container">
    <h1>working with jeremy</h1>

    <img src="images/hands.jpg" class="pull-right"/>

    <p>
      If you're curious about how I might be able to help you, just ask! I'm always happy to sit down with you (especially if you're in Seattle) for coffee or lunch. During this time, let's talk about your situation. Are there any resources that would help you right now? Might I be a good fit for you? Might I be able to refer you to someone else?
    </p>
    <p>
      If this sounds good, the next step is to meet your team and think about what an engagement might look like. Let's agree on a rate for me to spend a day to a week with your team. We will talk, we might do a <a href="http://leancoffee.org">Lean Coffee</a> or a Retrospective, and start to get an idea of what you need.
    </p>
    <p>
      Assuming everyone still wants to go forward, I'll want to sit down with "check signer" and agree to what we want the engagement to look like. I'll put together a contract that captures that, and we can get to work!
    </p>
    <p>
      If you ask any of my previous clients, there are a few things that set me apart :
    </p>
    <h4>Stickies &amp; Exercises</h4>
    <p>
      More than once I've been accused of having stock in 3M... I use stickies, and a huge toolbox of exercises to unleash everyone on problems. I favor getting a group (even a big group) into a room to solve problems, make decisions and generate alignment and ownership.
    </p>
    <p>
      This experiential approach carries over to my training. I believe that in a learning situation, the person doing the talking is also the one doing the learning. So I don't do a lot of lecturing when I'm helping a team come up to speed. I guide teams through games &amp; simulations followed by debriefs to help them discover the next step for themselves.
    </p>
    <h4>Versatility</h4>
    <p>
      I've worked quite intimately with senior leadership of fortune 500 companies as we have thought about how to bring about change across the organization. I've also worked with middle management as they try to understand their roles in an "agile" world. I've even run my own tech startup, and at this point have started 4 companies. At the same time, I'm just as at home sitting next to a developer, and pair programming with them, coaching them on good development practices. 
    </p>
    <p>
      It's rare for someone to be able to wear so many hats and still be able to go deep. For me this is fun, and it allows me to carry the conversation to the people that need to have it wherever they sit in the organization.
    </p>
  </div>
</div>

<!-- case study -->
<div class="odd-container">
  <div class="container">
    <h1><span class="case-study">case study</span>nordstrom innovation lab</h1>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" width="750" height="411" src="http://www.youtube.com/embed/szr0ezLyQHY?wmode=transparent" frameborder="0" allowfullscreen="1"></iframe>
    </div>

    <br/>

    <blockquote>
      It's one thing to talk about 'rapid experimentation' and 'validated learning' as abstract concepts. It's quite another to see them in action, in a real-world setting.
      <br/>
      - Eric Ries, <a href="http://www.startuplessonslearned.com/2011/10/case-study-nordstrom-innovation-lab.html">Startup Lessons Learned</a>
    </blockquote>

  </div>
</div>

<!-- partners -->
<div class="even-container">
  <div class="container">
    <h1>partners</h1>

    <div class="row">
      {% for partner in page.partners %}
        <div class="col-md-2">
          <div class="thumbnail">
            <img src="images/partners/{{ partner.img }}">
            <h4>{{ partner.name }}</h4>
            <p>
              {% for link in partner.links %}
              <a href="{{ link }}">{{ link }}</a>
              {% endfor %}
            </p>
            <p>{{ partner.text }}</p>
          </div>
        </div>      
      {% endfor %}
    </div>
  </div>
</div>

<!-- testimonials -->
<div class="odd-container testimonials">
  <div class="container">
    <h1>testimonials</h1>

    {% for testimonial in page.testimonials %}
      <blockquote>
        {{ testimonial.text | markdownify }}
        <div class="author">
          - <span class="name">{{ testimonial.author }}</span>,
          <span class="position">{{ testimonial.position }}</span>
        </div>
      </blockquote>
    {% endfor %}
  </div>
</div>

<!-- contact -->
<div class="contact-container">
  <div class="container">
    <h1>contact</h1>

    <img src="images/jeremy-drawing.png" class="pull-right"/>

    <p>I live in Seattle, WA.</p>

    <p>call me : 312-953-1193</p>
    <p>email me : <a href="mailto:jeremy.lightsmith@gmail.com"> jeremy.lightsmith@gmail.com</a></p>
    <p>
      or find me on : <br/>
      {% include social_links.html %}
    </p>
  </div>
</div>
