<footer class="coaching-footer">
  <div class="container">
    <div class="social-links">
      <a href="mailto:{{ site.email }}"><i class="fas fa-envelope-square"></i></a>
      <a href="http://www.linkedin.com/in/jeremylightsmith/"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/jeremylightsmith"><i class="fab fa-github-square"></i></a>
    </div>
    <p>
      &copy; Jeremy Lightsmith &nbsp;·&nbsp;
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </p>
  </div>
</footer>
